html {
    background-color: black;
    color: white;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

button, img {
    cursor: default;
}

img {
    pointer-events: none;
}

p {
    margin: 0;
}

* {
    user-select: none;
}

.dot {
    font-weight: bold;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.videoplayer {
    width: 100%;
    height: calc(0.5625 * 100vw);
    margin: 0;
    padding: 0;

    position: fixed;
    top: 3rem;

    z-index: 1;
}

.video-feed {
    overflow-y: scroll;
    margin-top: 3rem;
}


.feed-end {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    border-top: 1px solid #404040;
}