.videoplay-info {
    display: none;
}

.videoplay-texts {
    padding: 1rem;
}

.videoplay-channel {

    padding-left: 1rem;
    position: relative;
}

.videoplay-buttons {

    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: 0;

    padding: 1rem;
    font-size: 0;
}

.videoplay-buttons::-webkit-scrollbar {
    display: none;
}
.videoplay-buttons {
    scrollbar-width: none;
}

.upnext {
    border-top: 1px solid #2d2d2d;
    height: 3rem;

    position: relative;
}

.upnext-item {
    background-color: black;
    display: inline-block;
    height: 3rem;
    text-align: center;
    vertical-align: middle;

    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.upnext-item > * {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.clear-video {
    right: 0;
}
.clear-video:active {
    background-color: #2c2c2c;
}
.clear-video > img {
    height: 1.5rem;
}

.upnext-label > p {
    font-size: 0.9rem;
}

.videoplay-title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
}

.videoplay-other {
    color: #aaaaaa;
    font-size: 0.75rem;
    line-height: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    -webkit-box-orient: vertical;
}

.videoplay-channelIcon {
    border-radius: 50%;
    vertical-align: middle;

    width: 2rem;
}

.videoplay-channelTitle {
    display: inline-block;

    margin-left: 1ch;
    margin-right: 1ch;

    font-size: 0.9rem;

    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.videoplay-subscribers {
    font-size: 0.75rem;
    color: #aaaaaa;
}

.subscribeBtn {
    background-color: white;
    color: black;

    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 2ch;
    padding-right: 2ch;
    height: 2.2rem;

    border: none;
    border-radius: 1.5em;

    position: absolute;
    margin-right: 1rem;
    right: 0;
}
.subscribeBtn:active {
    background-color: #e0e0e0;
}

.btn {
    background-color: #2c2c2c;
    color: white;

    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 2ch;
    padding-right: 2ch;
    height: 2.2rem;

    border: none;
    border-radius: 1.5em;

    margin-right: 1ch;

    padding-left: 2.75rem;
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1rem;
}
.btn:active {
    background-color: #1a1a1a;
}

.btn.likeBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    position: relative;
    background-image: url("https://dhruv-dhaduk.github.io/assets/logos/white/like_white.png");
}
.btn.likeBtn::after {
    content: "|";
    color: #2c2c2c;
    background: #505050;
    position: absolute;
    right: 0;

    margin: auto;
    top: 0;
    bottom: 0;

    width: 1px;
    height: 70%;
}
.btn.dislikeBtn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;

    color: #2c2c2c;

    background-image: url("https://dhruv-dhaduk.github.io/assets/logos/white/dislike_white.png");
    background-position-x: center;
    padding-left: 2.25rem;
}
.btn.shareBtn {
    background-image: url("https://dhruv-dhaduk.github.io/assets/logos/white/share_white.png");
}
.btn.saveBtn {
    background-image: url("https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png");
}
.btn.reportBtn {
    background-image: url("https://dhruv-dhaduk.github.io/assets/logos/white/flag_white.png");
}